<!--
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/">ng-blog</span>
    <span class="spacer"></span>
    <button routerLink="/dashboard" mat-raised-button color="accent">Write a Post</button>
    <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
      <button (click)="auth.logout()" mat-button>Logout</button>
    </div>
    <ng-template #showLogin>
      <button (click)="auth.login()" mat-button>Login with Google</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
-->

<mat-sidenav-container>
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    [ngClass]="{hidden: !(isHandset | async)!.matches}" 
    fixedInViewport="true" 
    [attr.role]="isHandset ? 'dialog' : 'navigation'" 
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" 
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary" (click)="drawer.toggle()">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <!--
      <a mat-list-item routerLink="garage">Garage</a>
      <a mat-list-item routerLink="posts">Posts</a>
      <a mat-list-item routerLink="projects">Projects</a>
      <a mat-list-item routerLink="inventory">Inventory</a>-->
      <a mat-list-item routerLink="contact">Contact</a>
      
    </mat-nav-list>
    <!--
    <button routerLink="/dashboard" mat-raised-button color="accent">Write a Post</button>
    <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
      <button (click)="auth.logout()" mat-button>Logout</button>
    </div>
    <ng-template #showLogin>
      <button (click)="auth.login()" mat-button>Login with Google</button>
    </ng-template>
    -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav" 
        mat-icon-button 
        (click)="drawer.toggle()" 
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle on">menu</mat-icon>
      </button>
      <button mat-button routerLink="">Volvo Valor</button>
      <span class="spacer"></span>
      <nav *ngIf="!(isHandset | async)!.matches">
        <button mat-button routerLink="">Home</button>
        <!--
        <button mat-button routerLink="garage">Garage</button>
        <button mat-button routerLink="posts">Posts</button>
        <button mat-button routerLink="projects">Projects</button>
        <button mat-button routerLink="inventory">Inventory</button>-->
        <button mat-button routerLink="contact">Contact</button>
        
      </nav>
      <!--
      <button routerLink="/dashboard" mat-raised-button color="accent">Write a Post</button>
    <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
      <button (click)="auth.logout()" mat-button>Logout</button>
    </div>
    <ng-template #showLogin>
      <button (click)="auth.login()" mat-button>Login with Google</button>
    </ng-template>
    -->
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>