<main class="bg">
  <section class="main">
    <div class="content">
      <div class="container">
        <div class="content2">
          <div class="hero-title">
            I NEED ANOTHER
            <br/>
            <a href="https://www.youtube.com/channel/UCRtdHn14S8pudL77Mb-hznQ">CHANNEL.</a>
            <br/>
            <b>ABOUT VOLVOS.</b>
          </div>
        </div>
        <div class="counter" id="countdown">
          <br/>
          <h2>Check us out on
            <a href="https://www.youtube.com/channel/UCRtdHn14S8pudL77Mb-hznQ">YouTube</a> !</h2>

          <p>Where you'll see us perform repairs, commit to crazy modifications and in general just mess around.</p>

        </div>
      </div>
    </div>
  </section>
</main>
